.s-hero {
  height: 100vh;
  position: relative;

  .s-hero__overlay {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(32, 32, 32, 0.5) 0%,
        rgba(32, 32, 32, 0.25) 100%
      ),
      linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .s-hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .s-hero__text {
      display: flex;
      max-width: 50rem;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      z-index: 2;

      button {
        margin-top: 4rem;
      }

      h1 {
        color: var(--colors-base-white, #fff);
        font-family: var(--headline-font-family);
        font-size: 6rem;
        font-weight: 500;
        line-height: 6.25rem;
        letter-spacing: 0.06rem;

        @include respond-to(small) {
          font-size: 4rem;
          line-height: 100%;
        }
        @include respond-to(medium) {
          font-size: 4rem;
          line-height: 100%;
        }
      }

      p {
        color: var(--colors-base-white, #fff);
        font-family: var(--headline-font-family);
        font-size: 2rem;
        font-weight: 500;
        line-height: normal;

        @include respond-to(small) {
          font-size: 2rem;
          line-height: 100%;
        }
        @include respond-to(medium) {
          font-size: 2rem;
          line-height: 100%;
        }
      }
    }
  }
}

.s-why {
  padding: var(--spacing-16, 4rem) 0rem;
  background-color: var(--color-main);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(medium) {
      flex-direction: column;
      gap: 4rem;
    }

    @include respond-to(small) {
      flex-direction: column;
      gap: 4rem;
    }

    .s-why__title {
      width: 96rem;

      @include respond-to(medium) {
        width: 100%;
      }
      @include respond-to(small) {
        width: 100%;
      }
      h2 {
        color: var(--colors-slate-50, #f8fafc);
        font-family: var(--headline-font-family);
        font-size: 3.5rem;
        font-weight: 500;
        line-height: normal;
      }
    }

    .s-why__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: var(--spacing-12, 4rem);

      @include respond-to(medium) {
        display: flex;
        flex-direction: column;
      }
      @include respond-to(small) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.s-why2 {
  padding: 4rem 0rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .s-why2__item {
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: var(--spacing-12, 4rem);
      padding: 3rem 0rem;

      &.big {
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-12, 2rem);
      }
      @include respond-to(medium) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      @include respond-to(small) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
      .s-why2__img-box {
        .group-img-unique {
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .group-img-unique-medium {
          svg {
          }
        }

        .group-img-multiple {
          display: flex;
          gap: 2rem;
          .group-img-multiple__tiny-column {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }

      .s-why2__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .s-why2__title {
          p {
            color: #e58411;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.19688rem;
            text-transform: uppercase;
          }
          h2 {
            color: #1e1e1e;
            font-family: var(--headline-font-family);
            font-size: 3rem;
            font-weight: 700;
            line-height: normal;
          }
        }

        p {
          color: #1e1e1e;
          font-family: var(--base-font-family);
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.main-footer {
  padding: var(--spacing-16, 4rem) 0rem;
  background-color: var(--color-main);
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .main-footer__first-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 4rem;

      .main-footer__logo {
        max-width: 180.21px;
        text-align: center;
      }

      @include respond-to(medium) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      @include respond-to(small) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      .main-footer__column {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          color: #fdfefe;
          font-family: var(--base-font-family);
          font-size: 1.25rem;
          font-weight: 700;
          line-height: normal;
        }

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          color: #fdfefe;
          font-family: var(--base-font-family);
          font-size: 1rem;
          font-weight: 500;
          line-height: normal;
        }

        p {
          color: #fdfefe;
          font-family: var(--base-font-family);
          font-size: 1rem;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .main-footer__copy {
      p {
        color: #fdfefe;
        font-family: var(--base-font-family);
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.01281rem;
      }
    }
  }
}

.s-portfolio {
  padding: 4rem 0;
  .container {
    .s-portfolio__title {
      color: #1e1e1e;
      font-family: var(--headline-font-family);
      font-size: 4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 1rem;

      @include respond-to(small) {
        font-size: 2.5rem;
      }
      @include respond-to(medium) {
        font-size: 2.5rem;
      }
    }
  }
}
